.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meme-logo {
  width: 40px;
}

.header--weaving {
  font-size: 0.75rem;
  font-weight: 500;
}
